<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "main/css/materialize.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

{% include "main/includes/navbar.html" %}

{% include "main/includes/messages.html" %}
<div class="container" style="padding-top: 20px">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static "tinymce/js/prism.js" %}"></script>
<script>M.AutoInit();</script>
</body>
</html>