{% extends 'main/header.html' %}

{% block content %}
<h1>Hi there</h1>
    <div class="row">
        {% for tut in tutorials %}
        <div class="container col s12 l4 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ tut.tutorial_title }}</span>
                    <p style="font-size: 70%">{{ tut.tutorial_published }}</p>
                    <p>{{ tut.tutorial_content|safe }}</p>
                </div>
                <div class="card-action">
                    <a href="#">Visit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}