{% extends 'main/header.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}

        <button class="btn" type="submit">Submit</button>
    </form>
    <p>If you already have an account, <strong><a href="/login.html">Click Here!</a></strong></p>
{% endblock %}